{% extends "base.html" %}
{% block title %} Demo {% endblock %}
{% block content %}
<section class="section">
	<div class="container">
		<h1 class="title is-1">
			Demonstration 
		</h1>
		<p class="subtitle">
			This page is intended to test the <a href="https://verifone.demo.dimebox.com/docs/inject_tokenization">Inject</a> functionality.
		</p>
		<p class="subtitle">
			Inject is a PCI compliant JS snippet that can be used for tokenizing card details on the web. This page tokenizes a card and creates a transaction. After the transaction has been created you will be forwarded to a 'Thank you' page including a link to the transaction in the portal.
		</p>
		<p class="subtitle">
			After the transaction has been created you will be forwarded to a 'Thank you' page where you can find a link to the transaction in the portal.
		</p>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-1"></div>
			<div class="column box">
				<h2 class="title is-2">
					Contact Details
				</h2>
				<div class="content">
					<div class="field">
						<label class="label has-text-left">Name</label>
						<div class="control">
						  <input class="input" type="text" placeholder="e.g Anders Anderson">
						</div>
					  </div>
					  <div class="field">
						<label class="label has-text-left">Email</label>
						<div class="control">
						  <input class="input" type="email" placeholder="e.g. anders@anderson.com">
						</div>
					  </div>
					  <div class="field">
						<label class="label has-text-left">Telephone</label>
						<div class="control">
						  <input class="input" type="tel" placeholder="+3123456789">
						</div>
					  </div>
					  <div class="field">
						<label class="label has-text-left">Address</label>
						<div class="control">
						  <input class="input" type="text" placeholder="Road 1">
						</div>
					  </div>
					  <div class="field">
						<label class="label has-text-left">Country</label>
						<div class="control">
						  <input class="input" type="text" placeholder="Netherlands">
						</div>
					  </div>
				</div>
				<h2 class="title is-2">
					Payment Details
				</h2>
				<div class="control">
					<form id="my_payment_form" method="POST" action="/demo">
						<input type="hidden" name="my_order_id" value="12345" />
						<script>
							jsclient.injectForm(document.getElementById('my_payment_form'), {
								"organisation_id": "5d2eeef0628e0432e2826bff",
							});
						</script>
					</form>
				</div>
			</div>
			<div class="column box">
				<p class="title is-2">Basket</p>
				<div class="columns">
					<div class="column is-narrow">
						<figure class="image is-128x128">
							<img src="https://bulma.io/images/placeholders/128x128.png">
						</figure>
					</div>
					<div class="column">
						<p class="title is-4">Amazing product</p>
						<p class="subtitle is-6">€9,99</p>
					</div>
				</div>
				<div class="columns">
					<div class="column is-narrow">
						<figure class="image is-128x128">
							<img src="https://bulma.io/images/placeholders/128x128.png">
						</figure>
					</div>
					<div class="column">
						<p class="title is-4">Amazing product</p>
						<p class="subtitle is-6">€9,99</p>
					</div>
				</div>
			</div>
			<div class="column is-1"></div>
		</div>
</section>
{% endblock %}