{% extends "base.html" %}
{% block title %} Demo {% endblock %}
{% block intro_text_title %}Demonstration{% endblock %}


{% block intro_content%}
This page is intended to test the <a href="https://verifone.demo.dimebox.com/docs/inject_tokenization">Inject</a>
functionality.
</p>
<p class="subtitle">
Inject is a PCI compliant JS snippet that can be used for tokenizing card details on the web. This
page tokenizes a card and creates a transaction. After the transaction has been created you will be
forwarded to a 'Thank you' page including a link to the transaction in the portal.
</p>
<p class="subtitle">
After the transaction has been created you will be forwarded to a 'Thank you' page where you can
find a link to the transaction in the portal.
{% endblock %}

{% block box_title %}
Shipping & Billing
{% endblock %}

{% block box_content %}
<div class="content">
	<p>
		John Gilmore<br>
		john.gilmore@email.com<br>
		46 Shore Street<br>
		Stockton Heath<br>
		WA4 5GX<br>
		United Kingdom
	</p>
</div>
</div>
<div class="column">
	<h4 class="title is-4">
		Payment Details
	</h4>
	<div class="content">
		<p class="is-italic">Use a new card or use a card from a previous purchase</p>
		<h5 class="title is-5">Existing card
</p>
<form id="reuse_card" action="/transaction" method="POST">
<input name="card" class="button" type="submit" value="Visa **** 0002" placeholder="{{card}}" disabled=disabled>
</form>
<h5 class="title is-5">New card</p>
</div>
<div class="control">
	<form id="my_payment_form" method="POST" action="/demo/default">
		<input type="hidden" name="my_order_id" value="12345" />
		<div class="field">
			<label class="checkbox">
				<input type="checkbox" name="capture_now">
				Capture transaction
			</label>
		</div>
		<script>
			jsclient.injectForm(document.getElementById('my_payment_form'), {
				"organisation_id": "{{organisation}}",
				"no_style": true,
			});
		</script>
	</form>
	{% endblock %}