{% extends "base.html" %}
{% block title %} New customer {% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <h1 class="title is-1">
                    Demonstration
                </h1>
                <p class="subtitle">
                    This page is intended to test the <a
                        href="https://verifone.demo.dimebox.com/docs/inject_tokenization">Inject</a> functionality.
                </p>
                <p class="subtitle">
                    Inject is a PCI compliant JS snippet that can be used for tokenizing card details on the web. This
                    page tokenizes a card and creates a transaction. After the transaction has been created you will be
                    forwarded to a 'Thank you' page including a link to the transaction in the portal.
                </p>
                <p class="subtitle">
                    After the transaction has been created you will be forwarded to a 'Thank you' page where you can
                    find a link to the transaction in the portal.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column box is-two-thirds">
                <div class="section">
                    <h2 class="title is-4">
                        Shipping & Billing Details
                    </h2>
                    <div class="table-container">
				    {{ customer | safe  }}
				</div>
                </div>
                <div class="section">
                    <h2 class="title is-4">
                        Payment Details
                    </h2>
                    <div class="control">
                        <form id="my_payment_form" method="POST" action="/transaction">
                            <input type="hidden" name="my_order_id" value="12345" />
                            <script>
                                jsclient.injectForm(document.getElementById('my_payment_form'), {
                                    "organisation_id": "5d2eeef0628e0432e2826bff",
                                    "no_style": true,
                                });
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}