{% extends "base.html" %}
{% block title %} Thank you {% endblock %}
{% block content %}
<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column box is-two-thirds section">
				<div class="column">
					<span class="icon is-large">
						<i class="fas fa-check-circle fa-3x"></i>
					</span>
					<h3 class="title is-3 has-text-centered">
						Thank you for your order!
					</h3>
				</div>
				<div class="column">
					<h4 class="title is-4">
						Delivery details
					</h4>
					<div class="content">
						<p>{{transaction['customer']['billing']['first_name']}} {{transaction['customer']['billing']['last_name']}}</p>
						<p>{{transaction['customer']['email_address']}}</p>
						<p>{{transaction['customer']['billing']['address_1']}}</p>
						<p>{{transaction['customer']['billing']['postal_code']}}</p>
						<p>{{transaction['customer']['billing']['country_code']}}</p>
					</div>
				</div>
				<div class="column">
					<h4 class="title is-4">
						Payment details
					</h4>
					<div class="content">
						<p class="is-italic"><a href="{{ trx_link }}" target="_blank">Payed {{transaction['amount']}} with {{transaction['card']['brand']}} card ending with {{transaction['card']['last_four']}}</a></p>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}