{% extends "base.html" %}
{% block title %} Thank you {% endblock %}
{% block content %}
<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column box is-two-thirds section">
				<div class="column">
					<span class="icon is-large">
						<i class="fas fa-check-circle fa-3x"></i>
					</span>
					<h3 class="title is-3 has-text-centered">
						Thank you for your order!
					</h3>
				</div>
				<div class="column">
					<h4 class="title is-4">
						Delivery details
					</h4>
					<div class="content">
					{% if transaction_json %}
						<p>{{transaction_json.customer.billing.first_name}} {{transaction_json.customer.billing.last_name}}</p>
						<p>{{transaction_json.customer.email_address}}</p>
						<p>{{transaction_json.customer.billing.address_1}}</p>
						<p>{{transaction_json.customer.billing.postal_code}}</p>
						<p>{{transaction_json.customer.billing.country_code}}</p>
					{% endif %}
					{% if card_json or authentication_json %}
						<p>{{customer_json.billing.first_name}} {{customer_json.billing.last_name}}</p>
						<p>{{customer_json.email_address}}</p>
						<p>{{customer_json.billing.address_1}}</p>
						<p>{{customer_json.billing.postal_code}}</p>
						<p>{{customer_json.billing.country_code}}</p>
					{% endif %}
					</div>
				</div>
				<div class="column">
					<h4 class="title is-4">
						Payment details
					</h4>
					<div class="content">
					{% if transaction_json %}
						<p class="is-italic"><a href="{{ transaction_link }}" target="_blank">Payed {{transaction_json.amount}} with {{transaction_json.card.brand}} card ending with {{transaction_json.card.last_four}}</a></p>
					{% endif %}
					{% if card_json %}
						<p class="is-italic"><a href="{{ card_link }}" target="_blank">Tokenized card ending with {{card_json.last_four}}</a></p>
					{% endif %}
					{% if authentication_json %}
					<h5 class="title is-5">
						Authentication details
					</h5>
						<p>3DS Version:</p>
						<p class="has-text-weight-semibold">{{authentication_json.authentication.threeds_version}}</p>
						<p>Enrolled:</p>
						<p class="has-text-weight-semibold">{{authentication_json.authentication.enrolled}}</p>
						<p>Pares status:</p>
						<p class="has-text-weight-semibold">{{authentication_json.authentication.pares_status}}</p>
						<p>ECI:</p>
						<p class="has-text-weight-semibold">{{authentication_json.authentication.eci_flag}}</p>
						<p>CAVV</p>
						<p class="has-text-weight-semibold">{{authentication_json.authentication.eci_flag}}</p>
						<p>Error number:</p>
						<p class="has-text-weight-semibold">{{authentication_json.authentication.error_no}}</p>
						<p>Error description</p>
						<p class="has-text-weight-semibold">{{authentication_json.authentication.error_desc}}</p>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}